@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../recursos/imagen-black-mirror.jpg); }

.titulo__pelicula, .titulo__elenco, .titulo__contactanos, .titulo__temporadas, .titulo__estreno, .titulo__index {
  color: red; }

.subtitulo__elenco {
  color: red; }

.subtitulo__row {
  color: red; }

.subtitulo__inicio {
  color: red; }

.subtitulo__pelicula {
  color: red; }

ul {
  list-style-type: none; }

li {
  display: inline-block;
  width: 196px;
  position: relative;
  font-size: 18px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block;
  color: white;
  width: 0.5fr;
  padding: 15px; }

.elenco__container {
  display: flex;
  padding: 10px;
  justify-content: left; }

.info__temp1 {
  padding: 5px;
  color: white;
  margin-bottom: 100px;
  font-size: 30px; }

.info__estreno {
  padding: 5px;
  color: white;
  margin-bottom: 100px;
  font-size: 30px; }

.info__serie {
  font-size: 40px;
  color: red;
  padding: 10px; }

.info__elenco {
  padding: 5px;
  color: white;
  margin-bottom: 100px;
  font-size: 30px; }

.contenedor__texto {
  background-color: black;
  opacity: .2; }

.grid__iteminicio {
  color: white;
  font-size: 20px; }

.img-temporadas {
  transition: all 300ms; }
  .img-temporadas:hover {
    transform: scale(1.2); }

.link__temp {
  text-decoration: none; }
  .link__temp:hover {
    text-decoration: underline;
    color: red; }

.boton__enviar {
  margin-top: 5px; }

.boton__reestablecer {
  margin-top: 5px; }

.text-muted {
  font-size: 15px;
  color: white;
  padding: 1em 0;
  text-align: left;
  margin-top: auto; }
