@import 'fuentes';
@import 'variables';
*{
    margin: 0;
    padding: 0; }
body{
  font-family: 'Roboto', sans-serif;
  background-image: url(../recursos/imagen-black-mirror.jpg);
}  
%titulos{
  color: $color-principal;
  
} 



.titulo {
  &__pelicula {
    @extend %titulos 
  }
  &__elenco {
    @extend %titulos
  }
  &__contactanos{
    @extend %titulos
  }
  &__temporadas{
    @extend %titulos
  }
  &__estreno{ 
    @extend %titulos
  }
  &__index{
   @extend %titulos
  }
    
  
}
.subtitulo{
  &__temporada {
    color: $color-secundario;
   
  }
  &__elenco{
    color: $color-secundario;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 40px;
    text-align: left;
  }
  &__row{
    color:$color-principal;
  }
  &__row2{
    font-size: 25px;
    color:$color-principal;
    justify-content: left;
  } 
  &__inicio{
    color:$color-principal;
  }  
  &__pelicula{
    color: $color-secundario;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 40px;
    text-align: left;
  }
  &__pelicula2{
    color: $color-principal;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 40px;
    text-align: left;
  }
  &__contacto{
    font-size: 30px;
    color: $color-secundario;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
.nav-link{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
}

ul {
    list-style-type: none;
} 
li {
    display: inline-block;
    width: 196px;
    position: relative;
    font-size: 18px;
} 
ul ul {
    position: absolute;
    display: none;
} 
ul ul li {
    display: block;
} 
ul li:hover ul {
    display: block;
    color: $color-secundario;
    width: 0.5fr;
    padding: 15px;
}
 
.parrafos__index {
  color: $color-secundario;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.presentacion__contenido {
    font-size: 35px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 100px;
    color: $color-secundario;
}
.portada {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12fr;
}

.elenco__container {
    display: flex;
    padding: 10px;
    justify-content: left;
}

.info{
  &__temp1{
    padding: 5px;
    color: $color-secundario;
    margin-bottom: 100px;
    font-size: 30px;
    }
    &__estreno{
    padding: 5px;
    color: $color-secundario;
    margin-bottom: 100px;
    font-size: 30px;
    }
    &__serie{
      font-size: 40px;
    color:$color-principal;
    padding: 10px;
    }
    &__pelicula{
      color: $color-secundario;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    }
    &__elenco{
      padding: 5px;
      color: $color-secundario;
    margin-bottom: 100px;
    font-size: 30px;
    }

}


.contenedor__texto{
  background-color: $color-terciario;
  opacity:.2;
  
}

.pelicula__trailer{
  margin-left: 50px;
}

.grid__iteminicio {
  color: $color-secundario;
  font-size: 20px;
}

.img-temporadas{
  transition: all 300ms;
  &:hover{
    transform: scale(1.2);
  }
}
.link__temp {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color:$color-principal;
  }
}
.required{
  font-size: 30px;
  color:$color-principal;
  justify-content: left;
  color: $color-secundario; 
}
.boton{
  &__enviar{
    margin-top: 5px;
  }
  &__reestablecer{
    margin-top: 5px;
  }
}
.text-muted{
  font-size: 15px;
  color: $color-secundario;
    padding: 1em 0;
    text-align: left;
    margin-top: auto;
}






