@import 'fuentes';
@import 'variables';
*{
    margin: 0;
    padding: 0; }
body{
  font-family: 'Roboto', sans-serif;
  background-image: url(../recursos/imagen-black-mirror.jpg);
}  


%titulos{
  color: $color-principal;
  
} 
.titulo {
  &__pelicula {
    @extend %titulos 
  }
  &__elenco {
    @extend %titulos
  }
  &__contactanos{
    @extend %titulos
  }
  &__temporadas{
    @extend %titulos
  }
  &__estreno{ 
    @extend %titulos
  }
  &__index{
   @extend %titulos
  }
  
}
.subtitulo{
  &__elenco{
    color: $color-principal;
    
  }
  &__row{
    color:$color-principal;
  }
 
  &__inicio{
    color:$color-principal;
  }  
  &__pelicula{
    color: $color-principal;
  }
}
.texto__logo{
  font-family: 'Staatliches', cursive;
  color: grey;
}


.video__trailer{
  min-width: 170px;
  min-height: 280px;
  
}
.img-temporadas{
  transition: all 300ms;
  &:hover{
    transform: scale(1.1);
  }
}
.link__temp {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color:$color-principal;
  }
}
.temporada_texto{
  background-color: black;
}







